@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply scroll-smooth;
}

body {
    @apply antialiased bg-[#EBF0F9] font-sans dark:bg-zinc-950 dark:text-zinc-300;
}

.title {
    @apply sm:text-6xl min-[460px]:text-5xl text-4xl font-extrabold -tracking-wider text-navy2 leading-tight font-plusjakartasans dark:text-transparent dark:bg-gradient-to-br dark:from-navy2 dark:to-navy3 dark:bg-clip-text;
}

.leFadeIn span {
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.leFadeIn span:nth-child(1) {
    animation: fadeIn 1s ease-in-out forwards 0.1s;
}
.leFadeIn span:nth-child(2) {
    animation: fadeIn 1s ease-in-out forwards 0.2s;
}
.leFadeIn span:nth-child(3) {
    animation: fadeIn 1s ease-in-out forwards 0.3s;
}
.leFadeIn span:nth-child(4) {
    animation: fadeIn 1s ease-in-out forwards 0.4s;
}
.leFadeIn span:nth-child(5) {
    animation: fadeIn 1s ease-in-out forwards 0.5s;
}
.leFadeIn span:nth-child(6) {
    animation: fadeIn 1s ease-in-out forwards 0.6s;
}
.leFadeIn span:nth-child(7) {
    animation: fadeIn 1s ease-in-out forwards 0.7s;
}
.leFadeIn span:nth-child(8) {
    animation: fadeIn 1s ease-in-out forwards 0.8s;
}
.leFadeIn span:nth-child(9) {
    animation: fadeIn 1s ease-in-out forwards 0.9s;
}
.leFadeIn span:nth-child(10) {
    animation: fadeIn 1s ease-in-out forwards 1s;
}
.leFadeIn span:nth-child(11) {
    animation: fadeIn 1s ease-in-out forwards 1.1s;
}
.leFadeIn span:nth-child(12) {
    animation: fadeIn 1s ease-in-out forwards 1.2s;
}

.hu__hu__ {
    animation: hu__hu__ infinite 2s ease-in-out;
}
@keyframes hu__hu__ {
    50% {
        transform: translateY(8px);
    }
}

/*
.open {
    width: inherit;
    margin: auto;
    overflow: hidden;
    display: inherit;
    animation-name: none;
}
@keyframes open {
    from {
        width: 0;
    }
}
*/

/* width */
::-webkit-scrollbar {
    @apply w-2 h-2;
}

/* Track */
::-webkit-scrollbar-track {
    @apply dark:bg-neutral-800/60 bg-neutral-300/60;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply rounded-full dark:bg-neutral-700 bg-navy2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-navy dark:bg-neutral-600;
}

.form-input {
    @apply relative py-3 px-4 pe-9 flex text-nowrap w-full bg-white border border-gray-200 rounded-lg text-start text-sm focus:border-blue-500 focus:ring-blue-500 before:absolute before:inset-0 before:z-[1] dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400;
}

.form-input-file {
    @apply relative py-3 px-4 pe-9 flex text-nowrap w-full bg-white border border-gray-200 rounded-lg text-start text-sm focus:border-blue-500 focus:ring-blue-500 before:absolute before:inset-0 before:z-[1] dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 file:border-0 file:bg-blue-100 file:text-blue-600 file:rounded-full file:text-sm file:mr-3 file:font-medium;
}

.dashboard-title {
    @apply text-2xl md:text-3xl font-plusjakartasans font-bold;
}

.error-msg {
    @apply text-sm text-red-600 mt-1 block
}

.btn-primary {
    @apply bg-navy2 text-white py-3 px-4 rounded-lg font-semibold
}

.btn-danger {
    @apply bg-red-200 text-red-800 py-3 px-4 rounded-lg font-semibold
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

table {
    @apply w-full border-collapse;
}

table thead tr th {
    @apply px-6 py-3 text-left text-sm font-bold text-gray-700 uppercase;
}

table tbody td {
    @apply px-6 py-3 font-semibold text-sm;
}

trix-editor {
    @apply min-h-[300px] bg-white border border-gray-200 rounded-lg text-sm focus:ring-1 focus:border-blue-500 focus:ring-blue-500 !important;
}

.artikel-body  {
    @apply text-zinc-700
}